@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");

@tailwind base;
@tailwind components;
@twilwind utilities;

:root {
    --c-primary: #fc5e03;
    --c-primary-hover: #ff7221;
    --c-primary-light: #fed7c0;
    --c-secondary: #ffffff;
    --c-secondary-hover: #fafafa;
    --c-foreground: #000000;
    --c-foreground-gray: #adadad;
    --c-background: #f3f3f3;
    --c-background-hover: #fafafa;
    --c-background-dark: #2e2e2e;
    --max-width: 40rem;
    --padding: 1rem;
    --radius: 7px;

    color: var(--c-foreground);
    background-color: var(--c-background);
    font-family: "Pretendard Variable", sans-serif;
    word-break: keep-all;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 900;
    font-size: 1.75rem;
}

h2 {
    font-weight: 700;
    font-size: 1.5rem;
}

h3 {
    font-weight: 700;
    font-size: 1.15rem;
}

strong {
    color: var(--c-primary);
}

ul {
    margin-top: 1rem;
    list-style-type: disc;
    list-style-position: inside;
}

li::marker {
    color: var(--c-primary);
}

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    display: block;
    -webkit-appearance: none;
}

::-webkit-scrollbar-thumb {
    background: var(--c-foreground-gray);
    border-radius: var(--radius);
    background-clip: padding-box;
    border: 4px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--c-background-dark);
    background-clip: padding-box;
    border: 4px solid transparent;
}

button {
    height: 3rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius);
    color: var(--c-secondary);
    background-color: var(--c-primary);
    transition: all 0.25s;
}

button:hover {
    background-color: var(--c-primary-hover);
}

button.white {
    color: var(--c-primary);
    background-color: var(--c-background);
}

button.white:hover {
    background-color: var(--c-background-hover);
}